.header-box {
    padding: 10px 20px;
    row-gap: 15px;
    text-align: center;
}
.header-box h1 {
    color: var(--white-100);
    font-weight: bolder;
    font-size: 1.1rem;
}
.header-box h3 {
    color: var(--dark-600);
    font-size: 1.1rem;
}
.header-box.active-border-right {
    border-right: 1px solid #fdaf98;
}
@media screen and (max-width: 1100px) {
    .header-box {
        padding: 5px 10px;
    }
    .header-box h1 {
        font-size: 1rem;
    }
    .header-box h3 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 700px) {
    .header-box {
        padding: 5px 10px;
    }
}