.gallery-setting {
    width: 100%;
    margin-bottom: 40px;
}
.gallery-setting h1 {
    color: #fdaf98;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .gallery-setting h1 {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 960px) {
    .gallery-setting h1 {
        font-size: 1.2rem;
    }
}