.nav {
    padding: 40px 40px 0 40px;
    z-index: 2;
}
.nav-title {
    font-size: 1.8rem;
    color: #fdaf98;
    padding-left: 8px;
    padding-right: 25px;

}
.navbar-nav {
    margin-left: 140px;
    column-gap: 25px;
}
.nav-item {
    color: var(--dark-600);
}
.nav-item.active {
    color: #fdaf98;
    position: relative;
}
.nav-item.active::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    left: -30px;
    background: #fdaf98;
    border-radius: 5px;
    transform: rotate(45deg) translateY(-70%);
}
.nav-link {
    color: inherit;
}
.navbar-buttons {
    margin-left: auto;
    column-gap: 20px;
}
.navbar-responsive-menu {
    display: none !important;
}
.lin{
    background-image: -webkit-linear-gradient(30deg, #FF8A65 50%, #ff896579 50%);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border-color: #FF8A65;
    border-style: solid;
    border-width: 1px;
  }
  .lin > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
  }


@media screen and (max-width: 1100px) {
    .navbar-nav {
        margin-left: 10px;
        column-gap: 15px;
    }
    .nav{
        padding: 10px 10px 0 10px;
    }
}
@media screen and (max-width: 960px) {
    .navbar-nav {
        column-gap: 5px;
    }
}